.transition-enter-from {
  opacity: 0;
  transform: translateY(10px);
}

.transition-enter-to {
  opacity: 1;
  transform: translateY(0);
}

.transition-leave-from {
  opacity: 1;
  transform: translateY(0);
}
.transition-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
